.coin-search {
	margin-bottom: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.coin-text {
	margin-bottom: 2px;
	text-align: center;
}

.coin-input {
	padding-left: 16px;
	width: 300px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid red;
	background-image: linear-gradient(
		-255deg,
		#ac32e4 0%,
		#7918f2 48%,
		#4801ff 100%
	);
	color: #e2e2e2;
}
